#pdfheader, #pdffooter
{
    position: fixed;
    left: 0;
    right: 0;
    color: #444;
    font-size: 0.9em;
    width: 100%;
}
div.flex
{
    display: flex;
    flex-direction: row;
}
div.flex > *
{
    margin-left: 5mm;
}
div.flex > *:first-child
{
    margin-left: 0mm;
}
#pdfheader
{
    top: 0;
}
#pdfheader td
{
    height: 100%;
}
#pdffooter
{
    border-top: 0.1pt solid #999;
    padding-top: 5pt;
    font-size: 0.8em;
    line-height: 1.05em;
}
#watermark
{
    position: fixed;
    top: 35%;
    transform: rotate(-30deg);
    transform-origin: 50% 50%;
    opacity: .13;
    font-size: 200px;
    color: black;
    text-align: center;
    width: 100%;
    text-align: center;
}
.brouillon
{
    color: #D00;
}
.brouillon:before
{
    content: "[ ";
}
.brouillon:after
{
    content: " ]";
}
.doc_info_absente
{
    background-color: black;
    color: white;
    padding: 0.5mm 1mm;
}

img.alignright { float: right; }
img.alignleft { float: left; }

body
{
    text-align: justify;
    font-size: 8pt;
}

p, ul, ol
{
    margin: 3pt 0;
}

h1, h2, h3, h4, h5
{
    page-break-after: avoid !important;
    break-after: avoid !important;
}
h2:nth-of-type(1),
h3:nth-of-type(1),
h4:nth-of-type(1),
h5:nth-of-type(1)
{
    margin-top: 0px;
}
h3
{
    font-size: 10pt;
    margin: 5pt 0 3pt 0;
}
h4
{
    font-size: 8pt;
    margin: 3pt 0 2pt 0;
}
#pdfheader h1
{
    margin: 0mm;
    line-height: 1em;
}
div.footnote
{
    padding: 0 4mm;
    font-style: italic;
    font-size: 0.8em;
    border-top: 0.4pt solid #AAA;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}
table.signature,
table.flex,
table.cartouche { width: 100%; }
table.list_tab
{
    width: 100%;
}
table.list_tab td
{
    border: 1px solid #AAA;
    padding: 1mm 3mm;
}

table.signature
{
    table-layout: fixed;
    margin-top: 5mm;
}

.signature td
{
    height: 50mm;
    border: 0.1mm solid #CCC;
    vertical-align: top;
}
.signature img
{
    margin-top: 5mm;
}

.cartouche td { border: 0.1mm solid #CCC; text-align: center; }

/* Proposition de formation */
.proposition h3
{
    text-align: center;
    border-top: 0.15mm solid #CCC;
}
.proposition p,
.proposition ul,
.proposition ol,
{
    margin: 0 0 2mm 0;
    font-size: 7pt;
    font-weight: normal;
}
.proposition .item-row
{
    clear: both;
    border-top: 0.1mm solid #CCC;
    padding-top: 2mm;
}
.fiche-formateur
{
    clear: both;
    padding-top: 2mm;
}
.fiche-formateur div,
.proposition .item-row > div
{
    vertical-align: top;
    font-size: 7pt;
    padding-bottom: 3mm;
}
.fiche-formateur div.formateur-side,
.proposition div.item-title
{
    width: 35mm;
    padding-right: 4mm;
    padding-left: 0;
    font-weight: bold;
    text-align: left;
    float: left;
}
.fiche-formateur div.formateur-main,
.proposition div.item-content
{
    width: 145mm;
    float: right;
}
.proposition .item-content p:first-child,
.proposition .item-content ol:first-child,
.proposition .item-content ul:first-child
{
    margin-top: 0mm;
}
.proposition .item-content p:last-child,
.proposition .item-content ul:last-child,
.proposition .item-content ol:last-child
{
    margin-bottom: 0mm;
}
.fiche-formateur .formateur-side img.photo-formateur
{
    width: 35mm;
    height: auto;
    margin-bottom: 5mm;
}
.small-text
{
    text-align: right;
    font-size: 5pt;
}

div.proposition
{
    margin-bottom: 6mm;
    clear: both;
}

table.eval { width: 100%; }
td.td-titre { font-size: 12pt; font-weight: bold; }
td.td-value { width: 10mm; border: 0.1mm solid #AAA; color: #AAA; text-align: center; }
td.td-plusmoins { text-align: center; font-weight: bold; }
td.td-reponse-t { border-bottom: 0.1mm solid #CCC; }
td.td-reponse-ta { height: 15mm; border-bottom: 0.1mm solid #CCC; }

/* feuille d'émargement */
table.tableau-dates,
table.tableau-stagiaires
{
    width: 100%;
    border-collapse: collapse;
}
table.tableau-dates td,
table.tableau-dates th,
table.tableau-stagiaires td,
table.tableau-stagiaires th
{
    padding: 1mm;
    border: 0.2mm solid #AAA;
    text-align: center;
}
td.case-signature
{
    height: 8mm;
}
td.case-signature.contrat0
{
    background-color: #AAA;
}
tr.formateur
{
    font-style: italic;
}
th.col-nb-heures
{
    width: 20mm;
}

div.question
{
    break-inside: avoid;
    border-bottom: 1px grey solid;
    padding: 1mm;
    display: table;
    width: 100%;
}
div.question:last-child { border: none; }
div.question.title
{
    text-align: center;
    font-size: 12pt;
    margin: 5pt 0 3pt 0;
    border: none;
}
div.question.subtitle
{
    font-size: 10pt;
    font-style: italic;
    margin: 5pt 0 3pt 0;
    border: none;
}
div.question .legend td,
div.question .legend
{
    font-size: 6pt;
    color: grey;
}
div.question .right { text-align: right; }
div.question .likert-choice td
{
    color: lightgrey;
    border: 1px grey solid;
    height: 16pt;
    text-align: center;
    width: 12mm;
}
div.question input[type="radio"],
div.question input[type="checkbox"]
{
    display: none;
}
div.question.radio label,
div.question.checkbox label
{
    display: inline-block;
    width: 100%;
    height: 16pt;
    vertical-align: middle;
    margin-top: 4pt;
}
div.question.checkbox label::before,
div.question.radio label::before
{
    content: "";
    display: inline-block;
    width: 14pt;
    height: 14pt;
    border: 1px solid grey;
    margin-right: 8pt;
}
div.question.radio label::before { border-radius: 100%; }
div.question textarea
{
    width: 100%;
    height: 80pt;
}
div.question input[type="text"]
{
    width: 100%;
    height: 15pt;
}
div.question.number { vertical-align: middle; }
div.question.number .title { display: inline; }
div.question input[type="number"]
{
    width: 50pt;
    height: 15pt;
    border: 1px solid grey;
    vertical-align: bottom;
}

div.saut-de-page { page-break-after: always; }
