/* Pages de gestion */
ul#gestion_menu li,
ul#gestion_sub_menu li
{
    display:inline;
}

ul#gestion_menu li a,
ul#gestion_sub_menu li a
{
    text-decoration: none;
    border: 1px solid;
    padding: 5px 10px;
    display: inline-block;
    color: black;
}
ul#gestion_sub_menu li a
{
    border: 1px solid;
    padding: 3px 8px;
}
ul#gestion_menu li a:hover,
ul#gestion_menu li a.selected,
ul#gestion_sub_menu li a:hover,
ul#gestion_sub_menu li a.selected
{
    background-color: green;
    color: white;
}

/* BPF */
.fullwidth input:not([type='checkbox']):not([type='radio']) { width: 100%; }

.toc
{
    position: fixed;
    right: 0px;
    top: 80px;
    width: 80px;
    background-color: var(--colorBackground);
    border: 1px solid var(--colorLink);
    transition: width 0.3s;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    z-index: 99999;
}
.toc .title
{
    width: 1.5em;
}
.toc .title
{
    background-color: var(--colorLink);
}
.toc .title span
{
    transform-origin: bottom right;
    transform: rotate(-90deg);
    display: block;
    color: var(--colorBackground);
    font-size: 1.4em;
    margin-top: 2.8em;
}
.toc p
{
    margin: 0;
}
.toc.bpf
{
    top: 60px;
    background-color: #BDB;
}
.toc:hover
{
    width: 700px;
}
.toc .content
{
    padding-left: 10px;
    width: 100%;
}
.toc a
{
    padding: 3px;
    color: var(--colorLink);
    display: inline-block;
    width: 100%;
    text-decoration: none;
}
.toc a:hover
{
    background-color: var(--colorLink);
    color: var(--colorBackground);
}

.toc.bpf a
{
    color: black;
}
.toc.bpf a:hover
{
    background-color: #2d2d2d;
    color: white;
}

/* Page aide */
.objet.aide
{
    display: flex;
    border-top: 1px solid;
}

.objet.aide > div:first-child
{
    width: 100px;
    font-size: 0.8em
}


.select_by_date
{
    float: left;
    border: 1px solid var(--colorGrey2);
    border-radius: 5px;
    padding: var(--spacing3) var(--spacing2);
    margin-bottom: var(--spacing4);
}
.gestion-board + *,
.gestion-board .white-board
{
    clear: both;
}

.dataTables_wrapper
{
    border-top: 1px solid var(--colorGrey2);
}
