html .mceContentBody {
    max-width: 640px;
    padding: 0 10px;
    line-height: 1.7em;
}
html .mceContentBody {
    color: #000;
    background-color: #f2f2f2;
}
div.signature::before,
table.signature::before,
div.footnote::before
{
    position: absolute;
    font-size: 0.8em;
    padding: 0 2em;
    color: white;
    font-weight: bold;
}
div.footnote
{
    margin-bottom: 3px;
    margin-top: 2em;
    vertical-align: top;
}
div.signature::before,
table.signature::before,
div.footnote::before
{
    margin-top: -1.7em;
    border-radius: 1em 1em 0 0;
}
div.signature,
table.signature td { height: 35mm; vertical-align: top; }
table.signature { width: 100% }
div.signature::before,
table.signature::before
{
    content: 'cadre de signatures';
    background-color: Teal;
}
table td { min-width: 60px; }
div.footnote::before
{
    content: 'note de bas de page';
    background-color: #DDD;
    color: black;
    font-weight: normal;
}
div.signature, table.signature { border-color: Teal; }
div.footnote { border-color: #DDD; background-color: white;}

div.footnote > p
{
    margin: 5px 0;
    color: #444;
    font-size: 0.9em;
}

.brouillon
{
    color: #F80;
}
.mce-content-body .locked[contentEditable="false"]
{
    cursor: pointer;
}
.keyword
{
    color: #800;
    padding: 0 5px;
    border: #FCC 1px solid;
}
.keyword:hover,
.keyword:focus
{
    background-color: #FCC;
}
.test
{
    color: #080;
    padding: 0 5px;
    border: #ADA 1px solid;
}
:not(.test-expression) > .test
{
    background-color: black;
    color: red;
}
.test-expression
{
    background-color: white;
    padding: 2px;
}
.test-expression.erreur
{
    color: red;
    text-decoration: line-through;
}
.test-expression:hover,
.test-expression:focus-within
{
    display: block;
    border: 2px dashed lightgray;
    padding: 10px;
    margin: 5px auto;
    transition: padding 5ms, margin 5ms;
}
.test-expression:hover > .test,
.test-expression:focus > .test
{
    background-color: #BDB;
}
.test-expression .test-expression:hover > .test,
.test-expression .test-expression:focus > .test
{
    background-color: #3A3;
    color: white;
}
.test-expression .test-expression .test-expression:hover > .test,
.test-expression .test-expression .test-expression:focus > .test
{
    background-color: #060;
    color: white;
}
.mce-keyword.mce-window .mce-window-head
{
    background-color: #FCC !important;
}
.mce-test.mce-window .mce-window-head
{
    background-color: #BDB !important;
}
.edit-keyword
{
    padding: 5px 15px !important;
}
.custom_keyword
{
    background-color: #CCC;
}
img.emoji
{
    width: 1.1em;
    height: 1.1em;
}
